body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h1 {
  text-align: center;
  margin: 10px;
  color: white;
}

#grid {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.grid-row {
  display: flex;
  width: 100%;
  flex: 1;
}

.grid-item {
  flex: 1;
}