* {
  background-color: black;
  color: white;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 54px;
}

#grid {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 500px;
}

.grid-row {
  display: flex;
  flex: 1;
}

.grid-item {
  flex: 1;
}

#change-grid-size {
  border: 1px solid white;
  border-radius: 3px;
  font-size: 16px;
  margin: 10px;
  padding: 4px;
  width: 170px;
}

#credits {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: auto;
}